@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');  // import del font 

//  nombre       tipo (hay varios regular , semibold , bold , etc)    // regular 400 , bold 700 , etc
font-sourcesans-regular = 400 0px 'Source Sans Pro', sans-serif;
            // tipo regular    tamaño siempre 0        nombre 
//  nombre  color 
color-1 = #F4F6F6;